# Coverage files
.coverage
.coverage.*
htmlcov/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build artifacts
*.egg-info/
dist/
build/
*.egg

# Pytest
.pytest_cache/

# fortran mod files
*.mod

